<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试网页</title>
</head>
<body>
<p>velocity模版引擎测试</p>
<p>$CommonTool.test()</p>
#set($var1=1)
#set($var2=2)
#set($var3=$var1+$var2)
<font style="color: red;">自己造轮子 $!{var3}</font>

<div>
    #set($list=$CommonTool.queryTop10())
    <ul>
    #foreach($user in $list)
    <li>$user.id - $user.username</li>
    #end
    </ul>
</div>
</body>
</html>