<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
	<servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>net.duguying.web.mvc.ActionServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-name>action-prefix</param-name>-->
            <!--<param-value>action</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>packages</param-name>
            <param-value>net.duguying.community.action</param-value>
        </init-param>
        <init-param>
            <param-name>velocity-template</param-name>
            <param-value>templates</param-value>
        </init-param>
        <init-param>
            <param-name>velocity-tool</param-name>
            <param-value>net.duguying.community.tool</param-value>
        </init-param>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
</web-app>